.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    background-color: white;
    width: 75px;
    background-color: blue;
}

.sidebar-link{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 6px;
    color: white;
    width: 70px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
}

.sidebar-link:hover{
    background-color: black ;
    color: white;
    transition: 0.5s;
    transform: translateY(-5px);
}

.sidebar-link:active{
    background-color: blue;
    color: white;
}

.sidebar-link img{
    height: 35px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: bolder;

}

