html{
    scroll-behavior: smooth;
}

body{
    background-image: url("../oraMart.PNG");
    background-size: cover 100% no-repeat;
    height: auto;
    font-family: arial;
    color: white;
}

.logout{
    background: none;
    border: none;
    color: white;
}

header{
    color: blue;
    background: rgb(11, 11, 68);
    height: 70px;
    font-size: 30px;
    width: 100%;
    margin: -20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    /*flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background-color: blue;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(240, 238, 238);
    width: 100%;
    margin: -5px;*/
}

header .logo{
    width: 100px;
    height: 90px;
    border-radius: 45px;
}

header a{
    text-decoration: none;
    color: blue;
    padding-right: 20px;
    
}

header a:hover{
    color: white;
    
}

nav{
    background-color: blue;
    margin-top: 90px;
    height: 30px;
    padding: 10px;
    width: auto;
    border-radius: 15px;
    z-index: 100;
    position: fixed;
    margin-bottom: 1000px;
    display: flex;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
}

nav ul li a:hover{
    transition: 0.2s;
    color: blue;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
}

h1{
    font-size: 50px;
    margin: 0;
}

.notifications{
    font-size: 30px;
    margin-bottom: 0;
    padding: 20px;
}

h3{
    color: blue;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

p{
    color: white;
    font-size: 20px;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background: blue;
    border-radius: 15px;
    border: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: inline-block;
    margin-left: 100px;
}
h2 {
    margin-top: 0;
    padding: 10px;
    font-family: Arial;
    color: white;
}

section {
    padding: 20px;
    height: 200px;
    margin-top: 50px;
    border: solid blue;
    border-radius: 50px;
}

/* Example sections */
.order-management {
    backdrop-filter: blur(50px);
}
.product-management {
    backdrop-filter: blur(50px);
    height: auto;
}
.inventory-management {
    backdrop-filter: blur(50px);
    height: auto;
}


/* css styles for adding product management */
.toDo-grid,
.toDo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.toDo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.date{
    font-size: 15px;
    padding: 6px;
    border-radius: 20px;
}

.add-button{
    background-color: blue;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
}

.delete-button{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px
}

.color-patterns{
}


/*color pattern*/
ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.ul li{
    width: 50px;
    height: 50px;
    background: var(--color);
    border-radius: 50%;
    animation: grow 1.5s ease-in-out infinite;
    animation-delay: var(--delay);
    box-shadow: 0 0 50px var(--color);
    align-items: center;
}

@keyframes grow{
    0%,
    50%,
    100%
    {
        transform: scale(0.2);
    }
    20%{
        transform: scale(1);
    }

}

